@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aalpon');
  src:  url('fonts/icomoon.eot?aalpon#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aalpon') format('truetype'),
    url('fonts/icomoon.woff?aalpon') format('woff'),
    url('fonts/icomoon.svg?aalpon#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.alt-i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alt-user:before {
  content: "\e900";
  color: #70df7c;
}
